.DS_Store

# dependencies
/node_modules

# build output (the Go server embeds server/dist)
/dist
/server/dist/*
!/server/dist/.gitkeep
/.next/

# testing
/coverage

# misc
*.pem
*.log

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
